{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}

{{ form_start(form, {'method': 'post'}) }}
{% set FileCat = form.vars.value %}
<div class="content-header">
	<div class='title'> Kategoria Kartoteki - {{ form.name.vars.value }} </div> 
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>
</div>

{{ form_errors(form) }}
 
<div class="form">
{{ form_row(form.name) }} 
{{ form_row(form.symbol) }}
{{ form_row(form.SubFileCat) }} 

<h1>Grupy</h1> 

{%if FileCat.AsProject %}   
<div class="form-row">
	<div class="label i"> Projekt </div>
	<div class="widget i"> <input type="checkbox" checked="checked" disabled="disabled"> </div>
</div>
{% endif %}

{{ form_row(form.as_income) }} 
{{ form_row(form.as_cost) }} 
{{ form_row(form.as_contractor) }} 
</div>

<div class="h">
	{{ form_rest(form) }}
</div>

{{ form_end(form) }}

{% endblock %}
