{% form_theme form 'AppBundle:Form:fields_inline.html.twig' %}
{% set DocList = DocListF.vars.value %}

{% if as_income_docs is not defined %}
	{% set as_income_docs = 0 %}
{% endif %} 
{% if as_cost_docs is not defined %}
	{% set as_cost_docs = 0 %}
{% endif %} 
	
<div class='filter' data-url-year='{{ path("oppen_docs_year_update", {"year_id" : "__year_id__", 
										"as_income_docs" : as_income_docs, "as_cost_docs" : as_cost_docs }) }}'
					data-url-month='{{ path("oppen_docs_month_update", {"month_id" : "__month_id__", "project_id" : project_id, 
										"as_income_docs" : as_income_docs, "as_cost_docs" : as_cost_docs}) }}'>		
					
	<div class="search">{{ form_widget(DocListF.search) }}</div>
	<div class="form-row">
	{#% if return != 'project' %#}
		{{ form_row(DocListF.Year) }}
	{#% endif %#} 
		{{ form_row(DocListF.Month) }} 
		{{ form_row(DocListF.DocCat) }} 
		{{ form_row(DocListF.desc) }}		
	</div>
	<div  class="form-row">
		{{ form_row(DocListF.showBookks) }} 
		 
	</div>
</div>

<div id="Docs">		

<table class="form">
<tbody>

	<tr><th></th>
		<th>{%trans%} headers.common.documents {%endtrans%} / 
		    {%trans%} headers.common.books {%endtrans%}</th>
		<th>{%trans%} headers.documents.debit {%endtrans%}
					  ({%trans%} headers.common.value {%endtrans%} /
					  {%trans%} headers.common.account {%endtrans%})  </th>
		<th>{%trans%} headers.documents.credit {%endtrans%}
					  ({%trans%} headers.common.value {%endtrans%} /
					  {%trans%} headers.common.account {%endtrans%}) </th>	</tr>	

{% for DocF in DocListF.Docs %}
	{% set Doc = DocF.vars.value %}

	<tr>
		<td>
	{% if DocList.as_doc_select %} 
		{{ form_widget(DocF.select, {'attr': {'class': 'item'}}) }}
	{% endif %}
		</td>
			
		<td colspan="3"> 
			<a href={{ path('oppen_doc', { 'doc_id' : Doc.id, 'month_id'   : Doc.Month.id, 
					'doc_cat_id' : Doc.DocCat.id, 'return' : return, 'id1' : id1, 'id2' : id2}) }}>
				{{ Doc.DocNo }} </a> 
				{{ Doc.desc }}
				{% if Doc.DocCat.AsCost == 1 %}
					{% if Doc.paymentDate is not empty %} <b> płatność {{ Doc.paymentDate|date("Y/m/d") }} </b> 
					{% else %} <span class="red"> {%trans%} labels.documents.no_payment_date {%endtrans%} </span> {% endif %}
				{% endif %}
				 
				
		</td>
	</tr>
	{% if not DocList.as_doc_select and DocList.as_bookk_accept %} 
	
		{% for BookkF in DocF.Bookks %}
			{% set Bookk = BookkF.vars.value %}	
			{% set project_id = Bookk.Project is not empty ?  Bookk.Project.id : 0 %}
			
			{% if return == 'docs' or (return == 'project' and project_id == id1) %}
	<tr>
		<td>	{{ form_widget(BookkF.is_accepted, {'attr': {'class': 'item'}}) }} 	</td>
			
		<td width="400px" title="{{ Bookk.desc }}"> 
				{{ Bookk.bookkingDate|date("d/m/Y") }} - {{ Bookk.desc|slice(0, 100) }} {{ Bookk.desc|length > 100 ? '...':'' }}
				({{ Bookk.Project is not empty ? Bookk.Project.name : ''}})
		</td>
				{% for side in 1..2 %}
		<td class="bookk_side {% if side == 1 %} right-border {% endif %} " > 
					{% for BookkEntry in Bookk.BookkEntries if BookkEntry.side == side %}
			<div class="value">{{ BookkEntry.value|number_format(2,',',' ') }} </div><div class="accNo">{{ BookkEntry.accNo }} </div> 
					{% endfor %}
		</td>
				{% endfor %}
	</tr>
			{% endif %}
		{% endfor %}
	{% endif %}	
		
{% endfor %}


	<tr><td colspan="5" class="s"></td></tr>
	<tr><td class="item"><input type="checkbox" value="Docs" class="toggle_items"></td>
		<td> {%trans%} labels.common.select_deselect {%endtrans%} </td>
	</tr>
</tbody>
</table>

</div>

<div> 
	{% if DocList.as_doc_select %} 
		{{ form_widget(DocListF.selectDocs) }}
	{% endif %}
	{% if DocList.as_bookk_accept and is_granted('ROLE_ADMIN') %}
		{{ form_widget(DocListF.acceptBookks) }}
		{{ form_widget(DocListF.deleteBookks) }}
	{% endif %}
</div>

<div class='pager_links'>
{% for Link in DocList.DocsPager.getLinks(5) %} 
<button class='pager_link' data-page='{{Link}}'>{{Link}}</button>
{% endfor %}
</div>
