{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<table class="form list">
<tbody>
	
	{% set Project = form.vars.value %}
	<tr><th></th><th></th>
		<th>{%trans%} headers.common.category {%endtrans%} / {%trans%} headers.common.contract {%endtrans%}</th>
		<th>{%trans%} headers.contracts.gross_nett_cost_tax {%endtrans%}</th>
	</tr>	

{% set Totalsum = 0 %}
{% for C, CostF in form.SortedCosts %}
	{% set Cost = CostF.vars.value %}
	{% set sumGross = 0 %}
	<tr class='even' >
		<td>{{Cost.sortableRank }}.</td>   
		<td colspan="3">{{Cost.name }}
			<a href={{ path('oppen_contract', { 'contract_id' : 0, 'cost_id' : Cost.id}) }}> (+) </a>  </td></tr>
			
	<tr class="even"><td></td>
					<td class="item"><input type="checkbox" id='project_SortedCosts_{{C}}' class="toggle_items"> </td>
					<td >{%trans%} labels.common.select_deselect {%endtrans%}</td></tr>	
	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>	
				
	{% for ContractF in CostF.SortedContracts %}
		{% set Contract = ContractF.vars.value %}
	<tr><td></td>
		<td > {{ form_widget(ContractF.select, {'attr': {'class': 'item'}}) }} </td>
		<td> <a href={{ path('oppen_contract', { 'contract_id' : Contract.id, 'cost_id' : Cost.id}) }}>
							{{ Contract.contractNo }} </a> 
							<span {% if Contract.comment[:1] == '!' %} class='red'	{% endif %}>
							{{ Contract.File.name }} </span>
		</td> 
		<td>{{ form_widget(ContractF.gross, {'attr': {'class': 'value'}}) }} 
		/ {{ Contract.netto|     number_format(2, '.', '') }}	
		/ {{ Contract.IncomeCost|number_format(2, '.', '') }} 
		/ {{ Contract.tax|       number_format(2, '.', '') }} </td>
			
		<td><a href={{ path('oppen_contract_copy', { 'contract_id' : Contract.id, 'cost_id' : Cost.id}) }}> (c) </a> 
			<a href={{ path('oppen_files', { 'file_cat_id' : FileCat_asContractor.id,
						'return' : 'project','id1' : Project.id, 'id2': 4, 'id3' : Contract.id}) }}> (cc) </a> 
			<a href={{ path('oppen_contract_delete', { 'contract_id' : Contract.id}) }}> (x) </a> 	</td>		
		</td> 
	</tr>
	{% set sumGross = sumGross + ContractF.gross.vars.value %}
	{% endfor %}
	
	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>
	<tr class="even"><td colspan="3" class=" b"> {%trans%} headers.common.total {%endtrans%}</td><td> <span class="b">{{ sumGross }}</span> </td></tr> 	
	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>	
						
{% set Totalsum = Totalsum + sumGross %}
{% endfor %}

	<tr class="even">
		<td colspan="100%">
			{#
			<div class="form-row">
				<div class="label i">   {{ form_label(form.payment_period) }} </div>
				<div class="widget i">  {{ form_widget(form.payment_period ) }} 
										{{ form_widget(form.setPaymentPeriod) }}</div>
			</div>
			#}
			<div class="form-row"> 
				{{ form_row(form.document_date,{'attr':{'class':'date'}} ) }}
				{{ form_row(form.operation_date,{'attr':{'class':'date'}} ) }}
				{{ form_row(form.receipt_date,{'attr':{'class':'date'}} ) }}
				{{ form_row(form.DocMonth) }}
				{{ form_row(form.event_desc ) }}
				
				
			</div>
			<div class="form-row">{{ form_widget(form.generateDocs) }}
									{{ form_widget(form.printContracts) }}
									{{ form_widget(form.setEventDesc) }}
			</div>
		</td>
	</tr>		
</tbody>
</table>	




