<table class="form list">
<tbody>

	<tr><th></th>
		<th colspan="2">{%trans%} headers.common.category {%endtrans%}
			<a href={{ path('oppen_cost', {'project_id' : project_id, 'cost_id' : 0 }) }}> ( + ) </a> 
			/ {%trans%} headers.common.document {%endtrans%}</th>
		<th>Łącznie</th>
		
		{% set totalIncome = 0 %}
		{% for I, IncomeF in form.Incomes %} <!-- if IncomeF.vars.value.show == 1 -->
			{% set Income = IncomeF.vars.value %}
			{% set totalIncome = totalIncome + Income.value %}
		{% endfor %}

		{% for I, IncomeF in form.Incomes if IncomeF.vars.value.show == 1 %}
			{% set Income = IncomeF.vars.value %}
			<th></th>
			<th class='income_label' data-income="{{I}}">
				<a href={{ path('oppen_income', {'project_id' : project_id, 'income_id' : Income.id}) }}> 
				{{ Income.shortname }} </a>
			</th>
		{% endfor %}
		<th class="option-column">Opcje</th>
	</tr>	

{% set totalCost = 0 %}
{% for CostF in form.Costs %}

	{% set Cost = CostF.vars.value %}
	{% set Cval = Cost.value %}		
	{% set totalCost = totalCost + Cval %}	
		
	{% set CDsum = 0 %}	
	{% for CostDoc in Cost.CostDocs %}
		{% set CDsum = CDsum + CostDoc.value %}
	{% endfor %}	
	
	{% if Cval > 0 %} 
		{% set ratio = CDsum/Cval*100 %}
	{% elseif Cval == 0 and CDsum > 0 %} 
		{% set ratio = 100.1 %}
	{% else %}  
		{% set ratio = 0 %} 
	{% endif %}
				
	<tr class="even">
		<td>{{Cost.sortableRank }}.</td>   
		<td colspan="2"><a href={{ path('oppen_cost', {'project_id' : project_id, 'cost_id' : Cost.id}) }}>
			{{Cost.name }} </a>  </td>
						
		<td> {{ form_widget(CostF.value, {'attr' : {'class' : 'value'}}) }} 
			<div class='nl b {{ ratio <= 100.01 ? "green" : "red"}}' > {{ ratio|number_format(0) }}% </div> 
			<div>({{ CDsum|number_format(2,',','') }})</div>				
		</td>
	
		{% for CI, CostIncomeF in CostF.CostIncomes if CostIncomeF.vars.value.Income.show == 1 %}
		
			{% set CDIsum = 0 %}	
			{% for CostDocF in CostF.CostDocs %}
				{% for CDI, CostDocIncomeF in CostDocF.CostDocIncomes if CI == CDI %}
					{% set CostDocIncome = CostDocIncomeF.vars.value %}
					{% set CDIsum = CDIsum + CostDocIncome.value %}
				{% endfor %}
			{% endfor %}
			
			{% set CostIncome = CostIncomeF.vars.value %}
			{% set CIval = CostIncome.value %}			
			{% if CIval > 0 %} 
				{% set ratio = CDIsum/CIval*100 %}
			{% elseif CIval == 0 and CDIsum > 0 %} 
				{% set ratio = 100.1 %}
			{% else %}  
				{% set ratio = 0 %} 
			{% endif %}		
				
			<td></td>	
			<td> {{ form_widget(CostIncomeF.value, {'attr' : {'class' : 'value'}} ) }}	</br>
				<div class='nl b {{ ratio <= 100.01 ? "green" : "red"}}' > {{ ratio|number_format(0) }}% </div> 
				<div>({{ CDIsum|number_format(2,',','') }})</div>
			</td>
		{% endfor %}

		<td> <a href={{ path('oppen_cost_add_doc', {'cost_id' : Cost.id, 'month_id'   : Month.id, 'doc_cat_id' : DocCat_asCost.id}) }}> (+) </a> 
			 <a href={{ path('oppen_cost_move',    {'cost_id' : Cost.id, 'dir' : 'up' }) }}>  (&#8593;) </a> 
			 <a href={{ path('oppen_cost_move',    {'cost_id' : Cost.id, 'dir' : 'down' }) }}>  (&#8595;) </a> </td>	
	</tr>
		
	{% for CostDocF in CostF.CostDocs %}
	
		{% set CostDoc = CostDocF.vars.value %}
		{% set Doc = CostDoc.Doc %} 
	<tr><td></td>
		<td> {{ form_widget(CostDocF.select, {'attr': {'class': 'item'}}) }} </td>
		<td class="w300"><a href={{ path('oppen_doc', { 'doc_id' : Doc.id, 'month_id'   : Doc.Month.id, 'doc_cat_id' : Doc.DocCat.id, 
				'return' : 'project', 'id1' : project_id, 'id2' : tab_id}) }}>
				{{ Doc.DocNo }} </a> {{ Doc.desc }}  
				{% if Doc.DocCat.symbol in ['WB','RK'] %} 
					</br> {{ form_widget(CostDocF.desc, {'attr' : {'class' : 'desc300'}}) }}
				{% endif %}
				</td> 
		<td> {{ form_widget(CostDocF.value, {'attr' : {'class' : 'value'}}) }}  </td> 
												  
		{% for CostDocIncomeF in CostDocF.CostDocIncomes if CostDocIncomeF.vars.value.Income.show == 1 %}
		<td>
			{% if loop.first %} <a href="" class="copy_values"> >> </a> 
			{% else %}  <a href="" class="switch_values"> <> </a> 
			{% endif %} 
		</td>
		<td>{{ form_widget(CostDocIncomeF.value, {'attr' : {'class' : 'value'}}) }}</td>
		{% endfor %}
	
		<td> <a href={{ path('oppen_cost_remove_doc', {'cost_id': Cost.id, 'cost_doc_id' : CostDoc.id }) }}>(-)</a></td>
	</tr>
		
	{% endfor %}   
	     
{% endfor %}

	{% if totalIncome > 0 %} 
		{% set ratio = totalCost/totalIncome*100 %}
	{% else %}  
		{% set ratio = 0 %} 
	{% endif %}	
			
	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>
	<tr class="even">
		<td colspan="3" class=" b"> {%trans%} headers.common.total {%endtrans%}</td> 
		<td> <div class='b'>{{ totalCost|number_format(2,',','') }} </div> 
			 <div class= {{ ratio <= 100.01 ? "'green b'" : "'red b'"}} > {{ ratio|number_format(0) }}% </div>
		</td>				
				
		{% for I, IncomeF in form.Incomes if IncomeF.vars.value.show == 1%} 
			{% set Income = IncomeF.vars.value %}		
			{% set totalCI = 0 %}
			{% for CostIncome in Income.CostIncomes %}  <!-- if Income.show == 1 -->
				{% set totalCI = totalCI + CostIncome.value %}
			{% endfor %}
			
			{% set Ival = Income.value %}	
			{% if Ival > 0 %} 
				{% set ratio = totalCI/Ival*100 %}
			{% else %}  
				{% set ratio = 0 %} 
			{% endif %}	
			<td></td>	
			<td> <div class='b'>{{ totalCI|number_format(2,',','') }} </div>
				 <div class= {{ ratio <= 100.01 ? "'green b'" : "'red b'"}} > {{ ratio|number_format(0) }}% </div>
			</td>	
		{% endfor %}
	</tr>


	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>
	<tr class="even"><td></td>
					<td class="item"><input type="checkbox" value="CostDocs" class="toggle_items"> </td>
					<td colspan="4">{%trans%} labels.common.select_deselect {%endtrans%}</td></tr>
					
	<tr class="even">
		<td colspan="100%">
			<div class="s"></div>		  
			<div class="form-row">
				{#
					{{ form_row(form.bookking_date,{'attr':{'class':'date'}} ) }} {{ form_widget(form.setBookkingDate) }}
					{{ form_row(form.payment_period) }}	{{ form_widget(form.setPaymentDeadlineDate) }}	
				#}	  
				{{ form_row(form.doc_no) }} 			  	   
				{{ form_row(form.payment_DocCat_symbol) }}
				{{ form_row(form.payment_date,{'attr':{'class':'date no_copy_link'}}) }}
				
				{{ form_widget(form.setPaymentDate) }}
				{{ form_widget(form.removeDocs) }}
				{{ form_widget(form.downloadCosts) }} 	
			</div>
			<div class="s"></div>	
		</td>
	</tr>
			
	<tr class="even"> <td colspan="100%">
		<h3>{%trans%} headers.common.templates.bookking {%endtrans%}:</h3> </td>
	</tr>
	{% for Symbol, Tmp in BookingTemplates  if Tmp.group == 'Cost' %} 		  
	<tr><td></td> 	
		<td> {{ form_widget(form[Symbol], {'attr': {'class': 'checkbox'}}) }} </td>
		<td> {{ form_label(form[Symbol]) }} </td>
	</tr>
	{% endfor %}
	<tr class="even">
		<td colspan="100%">
			<div class="form-row">
				{{ form_widget(form.generateBookks) }}
			</div> 
		</td>
	</tr>
	
	<tr class="even"> <td colspan="100%">
		<h3>{%trans%} headers.common.templates.transfers {%endtrans%}:</h3> </td>
	</tr>
	{% for Symbol, Tmp in TransferTemplates %} 		  
	<tr><td></td> 	
		<td> {{ form_widget(form[Symbol], {'attr': {'class': 'checkbox'}}) }} </td>
		<td> {{ form_label(form[Symbol]) }} </td>
	</tr>
	{% endfor %}
	
	<tr class="even">
		<td colspan="100%">
			<div class="form-row">
				{{ form_widget(form.downloadTransfers) }}
			</div> 
		</td>
	</tr>
	
	<tr  class="even">
		<td></td>	
		<td></td>	
		<td class="w300"></td>
	</tr>
	
</tbody>
</table>


