{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="desc_form">
		{{ form_row(form.name) }}    
		{{ form_row(form.status) }} 
		{{ form_row(form.place) }} 
		{{ form_row(form.from_date,{'attr':{'class':'from_date'}} ) }} 
		{{ form_row(form.to_date,  {'attr':{'class':'to_date'}} ) }} 

		{{ form_row(form.File) }} 	
		{{ form_row(form.CostFileCat) }}
		{{ form_row(form.IncomeAcc) }} 
		{{ form_row(form.CostAcc) }}
		{{ form_row(form.BankAcc) }} 

		{{ form_row(form.desc, { 'attr': {'class': 'text'} }) }} 
		{{ form_row(form.comment, { 'attr': {'class': 'text'} }) }}
</div> 

{% if project_id > 0 %}

{% set Project = form.vars.value %}

	<div class='balance_label'> Bilans (operacje zaksięgowane) </div>
	<div class="s"></div>
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.income {%endtrans%} </div>
		<div class="b i"> {{ balance.incomes|number_format(2,',',' ') }} </div>
	</div>		
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.cost {%endtrans%} </div>
		<div class="b i"> {{ balance.costs|number_format(2,',',' ') }} </div>
	</div>		
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.result {%endtrans%} </div>
		<div class="b i"> <span class= {{ balance.result >= 0 ? "'green'" : "'red'"}} >
						  {{ balance.result|number_format(2,',',' ') }} </span> </div>
	</div>	
	
	</br>
	
	<div id='Tasks' class="tasks" >
		<div class='tasks_label' > Zadania 

			<a class='ajax_init_form' method="POST" title="Dodaj zadanie"
				 href="{{ path('oppen_task', { 'task_id' : 0, 'project_id' : project_id }) }}" > ( + ) 
			</a>
									
		</div>
		<div class='tasks_header'>
			<div class="i b w300">{%trans%} headers.common.desc {%endtrans%}</div>
			<div class="i b w100">{%trans%} headers.common.from_date {%endtrans%}</div>
			<div class="i b w100">{%trans%} headers.common.to_date {%endtrans%}</div>		
			<div class="s"></div>
		</div>

		<div class='tasks_list'>	
		{% for Task in Project.SortedTasks %}
			
			{{ include('AppBundle:Task:view.html.twig') }}

		{% endfor %}
		</div>
	</div>	


{% endif %}
