{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="desc_form">
		{{ form_row(form.name) }}    
		{{ form_row(form.status) }} 
		{{ form_row(form.place) }} 
		{{ form_row(form.from_date,{'attr':{'class':'from_date'}} ) }} 
		{{ form_row(form.to_date,  {'attr':{'class':'to_date'}} ) }} 

		{{ form_row(form.File) }} 	
		{{ form_row(form.CostFileCat) }}
		{{ form_row(form.IncomeAcc) }} 
		{{ form_row(form.CostAcc) }}
		{{ form_row(form.BankAcc) }} 

		{{ form_row(form.desc, { 'attr': {'class': 'text'} }) }} 
		{{ form_row(form.comment, { 'attr': {'class': 'text'} }) }}
</div> 

{% if project_id > 0 %}

	<div class='balance_label'> Bilans (operacje zaksięgowane) </div>
	<div class="s"></div>
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.income {%endtrans%} </div>
		<div class="b i"> {{ balance.incomes|number_format(2,',',' ') }} </div>
	</div>		
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.cost {%endtrans%} </div>
		<div class="b i"> {{ balance.costs|number_format(2,',',' ') }} </div>
	</div>		
	<div class="form-row">
		<div class="label i">{%trans%} headers.common.result {%endtrans%} </div>
		<div class="b i"> <span class= {{ balance.result >= 0 ? "'green'" : "'red'"}} >
						  {{ balance.result|number_format(2,',',' ') }} </span> </div>
	</div>		
	</br>
	
	<div id='Tasks' class="tasks" data-idx0="{{ form.Tasks|length }}">
		<div class='tasks_label' > {{ form_label(form.Tasks) }} </div>
		<div class='tasks_header'>
			<div class="i b w300">{%trans%} headers.common.desc {%endtrans%}</div>
			<div class="i b w100">{%trans%} headers.common.from_date {%endtrans%}</div>
			<div class="i b w100">{%trans%} headers.common.to_date {%endtrans%}</div>		
			<div class="s"></div>
		</div>

		<div class='tasks_list'>	
		{% for T, Task in form.Tasks if form.Tasks is not empty %}
			{% set id = Task.vars.value.id %}
			<div id='Tasks_{{T}}' class='task' data-idx0='{{T}}' >
				<div class='task_form' >
					{{ form_widget(Task.desc,         {'attr':{'class':'w300'}}) }} 
					{{ form_widget(Task.from_date,    {'attr':{'class':'from_date'}}) }} 
					{{ form_widget(Task.to_date,      {'attr':{'class':'to_date'}}) }} 
					<a href={{ path('oppen_task_move',    {'task_id' : id, 'dir' : 'up'   }) }}> (&#8593;) </a> 
					<a href={{ path('oppen_task_move',    {'task_id' : id, 'dir' : 'down' }) }}> (&#8595;) </a> 					
					<span class='h'>
						{{ form_widget(Task.id) }}
						{{ form_widget(Task.comment) }}
						{{ form_widget(Task.user_id) }}
						{{ form_widget(Task.send_reminder) }}
					</span> 
				</div>
				<div class='task_comment'>{{ Task.comment.vars.value|nl2br }} </div>
			</div>
		{% endfor %}
		</div>
	</div>	

	<div id='Task_prototype' class='h' data-prototype=
		'<div id="Tasks___name___" class="task" >
			<div class="task_form" data-disabled="0"> 
				{{ form_widget(form.Tasks.vars.prototype.desc|e,         {"attr":{"class":"w300"}}) }}
				{{ form_widget(form.Tasks.vars.prototype.from_date|e,    {"attr":{"class":"from_date"}}) }}
				{{ form_widget(form.Tasks.vars.prototype.to_date|e,      {"attr":{"class":"to_date"}}) }}				
				<span class="h">
					{{ form_widget(form.Tasks.vars.prototype.id|e) }}
					{{ form_widget(form.Tasks.vars.prototype.comment|e) }}
					{{ form_widget(form.Tasks.vars.prototype.user_id|e) }}
					{{ form_widget(form.Tasks.vars.prototype.send_reminder|e) }}
				</span> 
			</div>
			<div class="task_comment"></div>
		</div>' 
	></div> 


{% endif %}
