<table class="form list" >
<tbody>

	<tr>
		<th></th>
		<th colspan="2">
			{%trans%} headers.common.category {%endtrans%}
			<a href={{ path('oppen_income', {'project_id' : project_id, 'income_id' : 0}) }}>( + )</a> 
			/ {%trans%} headers.common.document {%endtrans%}</th> 
			<th>{%trans%} headers.common.total {%endtrans%}</th> 
			<th>{%trans%} headers.common.options {%endtrans%}</th>
	</tr>	
{% set totalIncome = 0 %}
{% for IncomeF in form.SortedIncomes %}
	{% set Income = IncomeF.vars.value %}
	{% set totalIncome = totalIncome + Income.value %}
	
	{% set IDsum = 0 %}	
	{% for IncomeDocF in IncomeF.IncomeDocs %}
		{% set IDsum = IDsum + IncomeDocF.value.vars.value %}
	{% endfor %}
	
	{% set Ival = IncomeF.value.vars.value %}		
	{% if Ival > 0 %} {% set ratio = IDsum/Ival*100 %}
	{% else %}  {% set ratio = 0 %} 
	{% endif %}	
	
	<tr class="even"><td>{{Income.sortableRank }}.</td>  
		<td colspan="2"><a href={{ path('oppen_income', {'project_id' : project_id, 'income_id' : Income.id}) }}> 
			{{ Income.name }} ({{ Income.shortname }}) </a> </td>
		<td>  {{ form_widget(IncomeF.value, {'attr' : {'class' : 'value'}}) }} </br>
			<span class= {{ ratio < 100 ? "'orange b'" : "'green b'"}} > {{ ratio|number_format(0) }}% </span>
		</td> 
		
		<td> <a href={{ path('oppen_income_add_doc', {'income_id' : Income.id, 'month_id'   : Month.id, 'doc_cat_id' : DocCat_asIncome.id}) }}> (+) </a> 
			 <a href={{ path('oppen_income_move',    {'income_id' : Income.id, 'dir' : 'up'   }) }}> (&#8593;) </a> 
			 <a href={{ path('oppen_income_move',    {'income_id' : Income.id, 'dir' : 'down' }) }}> (&#8595;) </a> </td>					
	</tr>

	{% for IncomeDocF in IncomeF.IncomeDocs %}
		{% set IncomeDoc = IncomeDocF.vars.value %}
		{% set Doc = IncomeDoc.Doc %}
	<tr><td></td>	
		<td> {{ form_widget(IncomeDocF.select, {'attr': {'class': 'item'}}) }} </td>
		<td class="w300"><a href={{ path('oppen_doc', { 'doc_id' : Doc.id, 'month_id'   : Doc.Month.id, 
					'doc_cat_id' : Doc.DocCat.id, 'return' : 'project', 'id1' : project_id, 'id2' : tab_id}) }}>
			{{ Doc.DocNo }} </a>
			{{ Doc.desc }} 
			
			{% if Doc.DocCat.symbol in ['WB','RK'] %}
			</br>{{ form_widget(IncomeDocF.desc, {'attr' : {'class' : 'desc300'}}) }}
			{% endif %}
		</td> 
		<td> {{ form_widget(IncomeDocF.value, {'attr' : {'class' : 'value'}}) }} </td>
		<td> <a href={{ path('oppen_income_remove_doc', {'income_id': Income.id, 'income_doc_id'  : IncomeDoc.id }) }}>( - )</a></td>
	</tr>
	
	{% endfor %}

{% endfor %}

	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>
	<tr class="even">
		<td colspan="3" class="b"> {%trans%} headers.common.total {%endtrans%}</td> 
		<td> <span class='b'>{{ totalIncome|number_format(2) }} </span> </td>
	</tr>
	
	<tr class="even"><td colspan="100%"><div class="s"></div></td></tr>
	<tr class="even"><td></td>
					<td class="item"><input type="checkbox" value="IncomeDocs" class="toggle_items"> </td>
					<td colspan="4">{%trans%} labels.common.select_deselect {%endtrans%}</td></tr>
					
	<tr class="even"><td colspan="100%"><div class="s"></div>		  
		  <div class="form-row">
			  
			  {{ form_row(form.doc_no) }} 			  	  
			  {{ form_row(form.payment_DocCat_symbol) }}
			  {{ form_row(form.payment_date,{'attr':{'class':'date no_copy_link'}}) }}
			  {{ form_widget(form.setPaymentDate) }}
			</div>
			<div class="s"></div>	
		</td>
	</tr>
			
	<tr class="even"> <td colspan="100%">
		<h3>{%trans%} headers.common.templates.bookking {%endtrans%}:</h3> </td>
	</tr>
	{% for Symbol, Tmp in BookingTemplates  if Tmp.group == 'Income' %} 		  
	<tr><td></td> 	
		<td> {{ form_widget(form[Symbol], {'attr': {'class': 'checkbox'}}) }} </td>
		<td colspan="100%"> {{ form_label(form[Symbol]) }} </td>
	</tr>
	{% endfor %}
	
	<tr class="even">
		<td colspan="100%">
			<div class="form-row">
				{{ form_widget(form.generateBookks) }}
			</div> 
		</td>
	</tr>	

</tbody>
</table>  
