<div class="print-only"> 
	<p class="b">{{Params.organization_name}}</p>
	<p>{{Params.organization_address1}} {{Params.organization_address2}} </p>
	<p>	REGON {{Params.organization_REGON}}; NIP {{Params.organization_NIP}}; KRS {{Params.organization_KRS}}</p>
	<p> tel.: {{Params.organization_phone}}; e-mail: {{Params.organization_email}}</p>
</div>
