{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'> Pity 11 za {{Report.Year.name}}</div> 
	
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>			
</div>	

{% if form.ItemColls|length == 0 %}
	Brak pozycji
{% else %}

<table class="form list"><tbody>
	<tr> 
		<th></th>
		<th>Zleceniobiorca</th> 
		<th width="550"> 
			<div>
				<div class="i b w200">     Projekt </div>
				<div class="i b r value" > Brutto </div>
				<div class="i b r value" > Netto </div>
				<div class="i b r value" > Koszt </div>
				<div class="i b r value" > PDOF </div>
			</div>	
		 </th>		
		 </tr>
			
	{% for ItemCollF in form.ItemColls %}
	{% set ItemColl = ItemCollF.vars.value %}
	<tr>
		<td> {{ form_widget(ItemCollF.select, {'attr': {'class': 'item'}}) }}</td>
		
		<td> {{ ItemColl.data.first_name }} {{ ItemColl.data.last_name }} </br>
		     {{ ItemColl.data.address1}},</br> 
		     {{ ItemColl.data.address2}}, gm.{{ ItemColl.data.district2}}</br>
		     pow.{{ ItemColl.data.district}}, woj.{{ ItemColl.data.province}} </br>
		     PESEL {{ ItemColl.data.PESEL }}, ur. {{ ItemColl.data.birth_date }}</br>
		     {{ ItemColl.data.US_name }} ({{ ItemColl.data.US_accNo }}) </br>
		     {{ ItemColl.data.email }} | {{ ItemColl.data.phone }} </br>
		</td>
		
		<td> 
		{% for project in ItemColl.data.projects %}
		<div>
			<div class="i w200">{{project.name}}</div>
			<div class="i r value" > {{project.gross      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.netto      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.income_cost|number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.tax        |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
		{% endfor %}
			<div class="s"></div>
			<div class="i w200 b" >Suma</div>
			<div class="i r value b" > {{ ItemColl.data.gross      |number_format(2,Params.dec_point,Params.thousands_sep) }} </div> 
			<div class="i r value b" > {{ ItemColl.data.netto      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
			<div class="i r value b" > {{ ItemColl.data.income_cost|number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
			<div class="i r value b" > {{ ItemColl.data.tax        |number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
		</div>
		</td>
	</tr>
	{% if loop.last%}
	
	<tr>
		<td></td><td><b>Łącznie wg projektów</b></td>
		<td> 
		{% for project in total.projects %}
		<div>
			<div class="i w200">{{project.name}}</div>
			<div class="i r value" > {{project.gross      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.netto      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.income_cost|number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
			<div class="i r value" > {{project.tax        |number_format(2,Params.dec_point,Params.thousands_sep)}} </div>
		{% endfor %}
			<div class="s"></div>
			<div class="i w200 b" >Suma</div>
			<div class="i r value b" > {{ total.gross      |number_format(2,Params.dec_point,Params.thousands_sep) }} </div> 
			<div class="i r value b" > {{ total.netto      |number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
			<div class="i r value b" > {{ total.income_cost|number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
			<div class="i r value b" > {{ total.tax        |number_format(2,Params.dec_point,Params.thousands_sep)}} </div> 
		</div>
		</td>
	
	</tr>
	{% endif %}
	
	{% endfor %}

	<tr><td colspan="11"> <div class="s"></div>	</td></tr>
	<tr class="even"><td class="item"><input type="checkbox" value="IncomeDocs" class="toggle_items">  </td>
	    <td colspan="10"> {%trans%} labels.common.select_deselect {%endtrans%} </td> </tr>
</tbody></table>
{% endif %}	
	    
<div class="s"></div>	

{{ form_row(form.objective) }}
{{ form_widget(form.downloadZIP) }}	
</br>			
<p>Archiwum zapisane w {{path}}{{zipName}} [{{filesize/1000}}MB]</p>	
<p>{{dump(contents)}}</p>				
			
{{ form_errors(form) }}
	
<div class="h">{{ form_rest(form) }}</div>

{{ form_end(form) }}
{% endblock %}
