{% extends "AppBundle::layout.html.twig" %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	{% include 'AppBundle:Report:header.html.twig' %}	
	<div class='title'> Dziennik księgowań: {{ReportList.Month}} - {{ReportList.Year}}</div> 	
	
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>			
</div>	

</br>

<table class="border register_doc"><tbody><tr> 
		<th class="c1">Nr Dziennika</th> 
		<th class="c2">Data księgowania</th>
		<th class="c3">Data operacji</th> 
		<th class="c4">Data dokumentu</th> 
		<th class="c5">Nr dokumentu</th> 
		<th class="c6">Treść</th> 
		<th class="c7">Nr ewidencyjny</th>
		<th class="c8">Sygnatura</th></tr> </tbody></table>

<table><tbody><tr>
	<td>
			<table class="border register_bookk"><tbody><tr>
			<th class="c1">Nr</th> <th class="c2"> Opis</th></tr> </tbody></table>  
	</td><td>
			<table class="border register_bookk_entry"><tbody><tr>
			<th class="c1">Wn</th> <th class="c2"> Kwota</th><th class="c3"> Konto</th></tr> </tbody></table>  
	</td><td>	
			<table class="border register_bookk_entry"><tbody><tr>
			<th class="c1">Ma</th> <th class="c2"> Kwota</th><th class="c3"> Konto</th></tr> </tbody></table>  
	</td>
</tr></tbody></table>
	
</br>
		
{% for Item in Items %}
{% set Doc =  Item.data %}
	<table class="border register_doc"><tbody><tr> 	
		<td class="c1" > {{ Doc.RegNo }} </td>
		<td class="c2" > {{ Doc.BookkingDate|date("d/m/Y") }} </td>
		<td class="c3" > {{ Doc.OperationDate|date("d/m/Y") }} </td>
		<td class="c4" > {{ Doc.DocumentDate|date("d/m/Y") }} </td>
		<td class="c5" > {{ Doc.DocNo }} </td>
		<td class="c6" > {{ Doc.Desc }} </td>
		<td class="c7" > {{ Doc.DocIdx }} </td>
		<td class="c8" > {{ Doc.User }} </td></tr> </tbody></table>

	{% for Bookk in Item.data.Bookks %}	
	<table><tbody><tr> 
		<td > 
			<table class="border register_bookk"><tbody><tr>
			<td class="c1" > {{ Bookk.BookkNo }} </td>
			<td class="c2" > {{ Bookk.Desc }} </td></tr> </tbody></table> 
		</td>
			
		{% for Side in 1..2 %}
		<td>
			{% set BookkEntries = Bookk.Sides[Side] %}
			{% for BookkEntry in BookkEntries %}
			<table class="border register_bookk_entry"><tbody><tr>
				<td class="c1"> 
					{% if Side == 1 %} {%trans%} headers.documents.debit {%endtrans%}
					{% elseif Side == 2 %} {%trans%} headers.documents.credit {%endtrans%}
					{% endif %}	</td>
				<td class="c2"> {{ BookkEntry.value }} </td>
				<td class="c3"> {{ BookkEntry.AccNo }} </td></tr> </tbody></table> 
			{% endfor %}					
		</td>				
		{% endfor %}
				
	</tr> </tbody></table>
	{% endfor %}
	
	</br>
		
{% endfor %}


{{ form_errors(form) }}
<div class="h">{{ form_rest(form) }}</div>
{{ form_end(form) }}

{% endblock %}
