<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>OPPen Project 
			{% block title %}{% endblock %}</title>
		<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />  



{% stylesheets  
	'bundles/framework/css/*.css'
	'bundles/oppenproject/css/*.css'
	'bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css'	
	'bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css'	 		 		 		 	
	filter='cssrewrite' output='css/compiled.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}		      

{% javascripts
    'bundles/bmatznerjquery/js/jquery.min.js'
    'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js'    
    'bundles/punkavefileuploader/js/jquery.fileupload.js'
    'bundles/punkavefileuploader/js/jquery.iframe-transport.js'
    'bundles/oppenproject/js/oppen-form.js'	
	output='js/compiled.js'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}


{% block head %}{% endblock %}

    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
					{% image '@OppenProjectBundle/Resources/public/images/logoOPPen.png' %}
						<img src="{{ asset_url }}" alt="logo" />
					{% endimage %}
                </div>

				<div class="top-menu sf-reset">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ render(controller('OppenProjectBundle:Settings:menu')) }}
						{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
						<a href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
					{% else %}
						<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
					{% endif %}
				</div>		

			</div> <!-- header-->
			
			<div style="clear: both"></div>

			<div class="sf-reset">
				<div class="block">
				
					{% for type, messages in app.session.flashbag.all() %}
						{% for message in messages %}
							<div class="flash-{{ type }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
					
					{% if messages is defined %}
						{% for k,message in messages %}
							<div id='message-{{k}}'>{{ message }}</div>
						{% endfor %}
					{% endif %} 	
												
					{% if errors is defined %}
						{% for k,error in errors %}
							<div id='error-{{k}}' class='error'>{{ error }} </div>
						{% endfor %}
					{% endif %} 		
										
					<div>
						{% block fos_user_content %}
						{% endblock fos_user_content %}
					</div>   
					<div>
						{% block content %}
						{% endblock %}
					</div>
					<div id="dialogs" class="h">
					</div>					
				</div>
			</div>
			
			<div><small>(C) Michał Janczak, 2014. Ver. 2.1.0</small></div>

			{% if code is defined %}
				<h2>Code behind this page</h2>
				<div class="block">
					<div class="symfony-content">{{ code|raw }}</div>
				</div>
			{% endif %}
			
		</div> <!-- content-->

		<script type="text/javascript" >		 			
	
		{% if app.user is not empty %}
			var user_id = {{ app.user.id }};
		{% endif %}
		
		form_init(); 

		{% block jquery %}
		{% endblock %}

		</script>  			
			        
    </body>
</html>



