{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'> Konto {{form.accNo.vars.value}} </div> 
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>
</div>

	{{ form_errors(form) }}
	
	<div class="form">	
		
		{{ form_row(form.accNo) }} 
		{{ form_row(form.name) }} 
		{{ form_row(form.Parent) }} 
		
		<h2> Grupy </h2>
		
		{{ form_row(form.asBankAcc) }} 
		{{ form_row(form.asIncome) }} 
		{{ form_row(form.asCost) }} 

		<h2> Bilans </h2>
		
		{{ form_row(form.incOpenB) }} 
		{{ form_row(form.incCloseB) }} 
		{{ form_row(form.asCloseB) }} 

		<h2> Kartoteki </h2>
		{{ form_row(form.FileCatLev1) }} 
		{{ form_row(form.FileCatLev2) }} 
		{{ form_row(form.FileCatLev3) }}
		
	</div>  
 
<div style="display: none;">{{ form_rest(form) }}</div>
		
{{ form_end(form) }}

{% endblock %}
