{% extends "layout.html.twig" %}

{% block content %}
	
<h1 class='title'> Dekretacje 
	<a href={{ path('oppen_bookk', { 'bookk_id' : 0, 'month_id' : Month.Id, 'doc_cat_id': 0}) }}>( + )</a>
</h1>

{{ form_start(form, {'method': 'post'}) }}
	
	<div class='toolbar'>
		{% for button in buttons %}
			<span>{{ form_widget(form[button]) }}</span>	
		{% endfor %}			
	</div>
	<div class='filter'>
		{{ form_label(form.Month) }}  {{ form_widget(form.Month) }}		
		{{ form_label(form.AccNo) }}  {{ form_widget(form.AccNo) }}	
		{{ form_label(form.IsAccepted) }}  {{ form_widget(form.IsAccepted) }}	
	</div>
	
	{{ form_errors(form) }}	
	
	{% if Bookks|length == 0 %}
	
		Brak dekretacji
	
	{% else %}

		<div>
		    <input type="checkbox" value="checkBookks" id="checkBookks"> 	
			<a id="checkAllBookks">Zaznacz</a> / 
			<a id="checkNoneBookk">Odznacz</a>
		</div>
	
		<table class="list"><tbody>
					
			<tr><td></td><td class="col_val b"> Kwota Wn</td><td class="col_acc b"> Konto Wn</td> 
						 <td class="col_val b"> Kwota Ma</td><td class="col_acc b"> Konto Ma </td> </tr>	
			
		{% for key, Bookk in Bookks %}

			<tr>
				<td width="40"> 
					{{ form_widget(form.Bookks[key].select, {'attr': {'class': 'Bookk'}}) }} 
				</td>
				<td colspan="4"> 
					<a href={{ path('oppen_bookk', {
						'bookk_id' : Bookk.id,
						'month_id' : Month.Id}) }}>
							{{ Bookk.bookingDate|date("Y-m-d") }}  
							{{ Bookk.desc }} 
					</a>
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">
				{% for BookkEntry in Bookk.BookkEntries %}
					{% if BookkEntry.isDebit %}
						<div>
							<div class="col_val"> {{BookkEntry.valueaccNo}} </div>
							<div class="col_acc"> {{BookkEntry.accNo}} </div>
						</div>					
					{% endif %}
				{% endfor %}
					
				</td><td colspan="2">
				{% for BookkEntry in Bookk.BookkEntries %}
					{% if BookkEntry.isCredit %}
						<div>
							<div class="col_val"> {{BookkEntry.valueaccNo}} </div>
							<div class="col_acc"> {{BookkEntry.accNo}} </div>
						</div>	
					{% endif %}
				{% endfor %}		
			</td></tr>	

		{% endfor %}
		
		</tbody></table>

	{% endif %}
	
<div style="display: none;">{{ form_rest(form) }}</div>

{{ form_end(form) }}

{% endblock %}


{% block jquery %}

  $('#checkAllBookks').click(function() {
    $('#checkBookks').prop('checked', true);
    $('input[type="checkbox"].Bookk').prop('checked', true); });

  $('#checkNoneBookk').click(function() {
	$('#checkBookks').prop('checked', false);
    $('input[type="checkbox"].Bookk').prop('checked', false);});

{% endblock %}
