{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<table class="form list">
<tbody>
	<tr><th></th><th>{%trans%}headers.common.year{%endtrans%} </th> 
				 <th>{%trans%}headers.periods.active{%endtrans%}</th>
				 <th>{%trans%}headers.periods.closed{%endtrans%}</th></tr>	

	{% for YearF in form.Years %}
			
	{% set Year = YearF.vars.value %}
	
	<tr><td> {{ form_widget(YearF.select) }} </td>
		<td> <a href={{ path('oppen_year_edit', { 'year_id' : Year.id}) }}> 
				{{ Year.name }} </a>   </td> 
		<td class='c'>{{ Year.isActive ? 'X' : '' }} </td>
		<td class='c'>{{ Year.isClosed ? 'X' : '' }} </td>	 
	</tr>
	{% endfor %}
		
</tbody>
</table>	

<div class="form-row">
	{{ form_widget(form.delete) }}
</div>

<div class="s"></div>

<div class="form">
	{{ form_row(form.copy_accounts) }}
	{{ form_row(form.copy_reports) }}
</div>

<div class="s"></div>

<div class="form">
<table class="form list"><tbody>
		<tr class="header"><th colspan=4>{%trans%}labels.periods.copy.categories_files{%endtrans%} </th>
		<tr/>
		<tr><th>{%trans%}headers.common.category{%endtrans%} </th>
			<th>{%trans%}headers.common.file{%endtrans%}</th>
			<th>{%trans%}headers.common.symbol{%endtrans%} </th> 
			<th>{%trans%}headers.common.name{%endtrans%} </th></tr>
			
		{% for FileCatF in form.FileCats %}
			{% set FileCat = FileCatF.vars.value %}
			<tr>
				<td class='c'> {{ form_widget(FileCatF.select) }}</td>
				<td class='c'> {{ form_widget(FileCatF.select2) }} </td>
				<td> {{ FileCat.symbol }} </td>
				<td> {{ FileCat.name }}	</td> 					
			</tr>
		{% endfor %}
		<tr></tr>

		<tr class="header"><th colspan=4>{%trans%}labels.periods.copy.categories_documents{%endtrans%} </th>
		<tr/>

		<tr><th>{%trans%}headers.common.category{%endtrans%} </th>
			<th>{%trans%}headers.common.document{%endtrans%}</th>
			<th>{%trans%}headers.common.symbol{%endtrans%} </th> 
			<th>{%trans%}headers.common.name{%endtrans%} </th></tr>
			
		{% for DocCatF in form.DocCats %}
			{% set DocCat = DocCatF.vars.value %}
			<tr>
				<td class='c'> {{ form_widget(DocCatF.select) }}</td>
				<td class='c'> {{ form_widget(DocCatF.select2) }} </td>
				<td> {{ DocCat.symbol }} </td>
				<td> {{ DocCat.name }}	</td>	
			</tr>
		{% endfor %}
</tbody></table>
</div>

<div class="form-row">
	{#{ form_widget(form.add_prev) }#}	
	{{ form_widget(form.add_next) }}
</div>

