{% block content %}

<h1 class='title'> Dokumenty ({%if Year %}{{ Year.name}} {%endif%}) </h1>

<table><tbody>
<tr>
	<th>Id</th>
	<th>DocNo</th>
	<th>BookkingDate</th>
	<th>PaymentDate</th>
	<th>PaymentDeadlineDate</th>
	<th>DocumentDate</th>
</tr>

{% for Doc in Docs %}
<tr>
	<td> {{Doc.Id}} </td> 
	<td> {{Doc.DocNo}} </td> 
	<td> {{Doc.BookkingDate|date("d/m/Y")}} </td> 
	<td> {{Doc.PaymentDate|date("d/m/Y")}} </td>
	<td> {{Doc.PaymentDeadlineDate|date("d/m/Y")}} </td>
	<td> {{Doc.DocumentDate|date("d/m/Y")}} </td>
</tr>
{% endfor %}	
</tbody></table>

{% endblock %}

