{% extends "AppBundle::layout.html.twig" %}

{% block content %}

{% if form %}{{ form_start(form, {'method': 'post'}) }}{% endif %}

<div class="content-header">
	<div class='title'> {{'modules.settings.config'|trans}} - {{ step }} </div> 
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{% if form %}{{ form_widget(form[button]) }}{% endif %}</span>	
	{% endfor %}			
	</div>
</div>

{% if form %}{{ form_errors(form) }}{% endif %}
 
{% include 'AppBundle:Settings:step_' ~ step ~ '.html.twig' %}

<div class="h">
	{% if form %}{{ form_rest(form) }}{% endif %}
</div>

{% if form %}{{ form_end(form) }}{% endif %}

{% endblock %}

{% block jquery %}
{% endblock %}

