{% extends "layout.html.twig" %}

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}

{{ form_start(form, {'method': 'post'}) }}
{% set form_id = form.id.vars.value %}

<div class="content-header">
	<div class='title'> Szablon - {{ form.name.vars.value }}</div> 
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>
</div>

{{ form_errors(form) }}
   
{{ form_row(form.name) }}
{{ form_row(form.symbol) }}
<b>Typ szablonu</b>
{{ form_row(form.as_contract) }}
{{ form_row(form.as_report) }}
{{ form_row(form.as_booking) }}
{{ form_row(form.as_transfer) }}

<b>{{ form_label(form.data) }}</b>
{{ form_widget(form.data,{'attr':{'class': 'wide' }} ) }}

<b>{{ form_label(form.contents) }}</b>
{{ form_widget(form.contents,{'attr':{'class': 'tinymce' }} ) }}

{{ tinymce_init({
	theme: {'simple':{'language': app.request.locale, 'height': 600 }},
	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"})
}}

<div class="h">
	{{ form_rest(form) }}
</div>

{{ form_end(form) }}

{% endblock %}

{% block jquery %}
{% endblock %}
