{% extends "OppenProjectBundle::layout.html.twig" %}

{% block content %}
	
<h1 class='title'> Konta <a href={{ path('oppen_account',{'year_id' : Year.id, 'account_id' : 0}) }}> ( + ) </a> </h1>

<div class="spacer"> </div>

	{% if Accounts|length == 0 %}
	
		Brak kont
	
	{% else %}
	
		<table class="tree list">
			<tr> <th> Numer </th> <th> Nazwa </th><th> Kartoteki </th> <th>Grupa</th> <th>Bilans</th> </tr>
			
		{% for Account in Accounts %}

			<tr class="treegrid-{{ Account.id }} {#{ Account.parentId is not null ? "treegrid-parent-#{Account.parentId}" : "" }#} ">
				
				<td> <a href={{ path('oppen_account', {'year_id' : Year.id, 'account_id': Account.id}) }}> {{ Account.accNo }} </a></td>
				<td> {{ Account.name }} </td>
				<td> 
					{% if not Account.FileCatLev1 is empty %}
						{{ Account.FileCatLev1.symbol}}
					{% endif %}
					{% if not Account.FileCatLev2 is empty %}
						- {{ Account.FileCatLev2.symbol}}
					{% endif %}
					{% if not Account.FileCatLev3 is empty %}
						- {{ Account.FileCatLev3.symbol}}
					{% endif %}								
				</td>
				<td> {{ Account.asBankAcc ? 'Bank' : '' }} {{ Account.asIncome ? 'Przychód' : ''}} {{ Account.asCost ? 'Koszt' : ''}} </td>
				<td> {{ Account.incOpenB ? 'O' : ''}} {{ Account.incCloseB ? 'Z' : ''}}  {{ Account.asCloseB ? 'W' : ''}}</td>
			</tr>

		{% endfor %}
		
		</table>

	{% endif %}

{% endblock %}

{% block jquery %}
  $('.tree').treegrid({initialState:'collapse'});
{% endblock %}
