{% extends "layout.html.twig" %}

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'> Umowa {{form.contract_no.vars.value}} </div> 

	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>		
</div>		

{{ form_errors(form) }}
<div class="form">
	<div class='form-column'>
		{{ form_row(form.File) }} 
		{{ form_row(form.Month) }} 
		
		{{ form_row(form.contract_no) }} 
		{{ form_row(form.contract_date,{'attr':{'class':'date'}} ) }} 
		{{ form_row(form.contract_place) }} 
		</br>
		{{ form_row(form.event_desc,{'attr':{'class':'desc'}}) }} 
		{{ form_row(form.event_date,{'attr':{'class':'date'}} ) }} 
		{{ form_row(form.event_place) }}
		{{ form_row(form.event_name) }}	 
		{{ form_row(form.event_role) }} 
	</div>
	<div  class='form-column '>	
		{{ form_row(form.Template) }} 
		{{ form_row(form.Cost) }} 
		{{ form_row(form.comment) }} 
		<div class="comment">Wstaw na początku <span class="red">!</span>, aby wyróżnić umowę. </div>
		{{ form_row(form.gross,{'attr':{'class':'value'}}) }} 
		{{ form_row(form.tax_coef,{'attr':{'class':'value'}}) }} 
		{{ form_row(form.cost_coef,{'attr':{'class':'value'}}) }} 

		{{ form_row(form.payment_period) }} 
		{{ form_row(form.payment_method) }} 
		
		{% set Contract = form.vars.value %} 
		{% set Doc = Contract.Doc %} 
		
		<div class="form-row">
			<div class="label i">  Rachunek </div>
			<div class="widget i"> 
			{% if Doc is not null and Contract.id != 0 %}
				<a href={{ path('oppen_doc', {'doc_id': Doc.id, 'month_id' : Doc.Month.id, 'doc_cat_id' : Doc.DocCat.id, 'return' : 'contract', 'id1' : Contract.id, 'id2' : Contract.Cost.id }) }}> {{ Doc.DocNo }} </a>
			{% else %}
				brak
			{% endif %}				
			</div>
		</div>		

	</div>	
</div>

<div class="h">
	{{ form_rest(form) }}
</div>
		
{{ form_end(form) }}

{% endblock %}


{% block jquery %}

{% endblock %}
