{% extends "OppenProjectBundle::layout.html.twig" %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}
{% set form_id = form.id.vars.value %}

<div class="content-header">
	<div class='title'>  
	{% if form.name.vars.value is empty %}
		Nowa kartoteka {{FileCat.name}} [{{Year.name}}]
	{% else %}	
		 {{FileCat.name}} [{{Year.name}}]: {{form.name.vars.value}} [{{ form.accNo.vars.value }}]
	{% endif %} 		
	</div> 
	
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>
</div>

{{ form_errors(form) }}
{% form_theme form 'OppenProjectBundle:Form:fields_tr.html.twig' %}

<table class="form">
<tbody>   
{% include 'OppenProjectBundle:File:' ~ FileCat.Symbol ~ '.html.twig' %}
</tbody>
</table> 

<div class="h">
	{{ form_rest(form) }}
</div>
		
{{ form_end(form) }}
{% endblock %}

{% block jquery %}
{% endblock %}
