{% extends "OppenProjectBundle::layout.html.twig" %}

{% block content %}

{% if form %}{{ form_start(form, {'method': 'post'}) }}{% endif %}

<ul class="sub-menu">
	{% for key, tab in tabs%}
		<li class='i'><a href={{ path('oppen_settings', {'tab_id': key + 1, 'year_id': Year.id }) }}
		{% if key + 1 == tab_id %}
			class='b'
		{% endif %}
		{% set tab_label = 'tabs.settings.' ~ tab %}
		> {{ tab_label|trans }} </a> | </li>
	{% endfor %}
</ul>

<div class="content-header">
	{%set tab_ = 'tabs.settings.'~tabs[tab_id-1] %}
	<div class='title'> {{'modules.settings'|trans}} - {{ tab_|trans }}
{% if tab_id == 4 %}
	<a href={{ path('oppen_report_edit', {'report_id' : 0, 'year_id' : Year.id}) }}>(+) </a>	
{% endif %}
{% if tab_id == 5 %}
	<a href={{ path('oppen_template_edit', {'template_id' : 0, 'year_id' : Year.id}) }}>(+) </a>	
{% endif %}
{% if tab_id == 7 %}
	<a href={{ path('oppen_user_edit', {'user_id' : 0}) }}>(+) </a>	
{% endif %}
	</div> 
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{% if form %}{{ form_widget(form[button]) }}{% endif %}</span>	
	{% endfor %}			
	</div>
</div>

{% if form %}{{ form_errors(form) }}{% endif %}
 
{% include 'OppenProjectBundle:Settings:' ~ tabs[tab_id-1] ~ '.html.twig' %}

<div class="h">
	{% if form %}{{ form_rest(form) }}{% endif %}
</div>

{% if form %}{{ form_end(form) }}{% endif %}

{% endblock %}

{% block jquery %}
{% endblock %}
