{% extends "OppenProjectBundle::layout.html.twig" %}
{% form_theme form 'OppenProjectBundle:Form:fields_inline.html.twig' %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'>  {%trans%} modules.projects {%endtrans%} 
		<a href={{ path('oppen_project', { 'project_id' : 0, 'tab_id' : 1 ,'year_id' : Year.id}) }}> ( + ) </a> </div>
</div>

<div class='filter'>
	<div class="search">{{ form_widget(form.search) }}</div>
	<div class="fields"> {{ form_row(form.Year) }} {{ form_row(form.search_name) }} </div>					
</div>		

{{ form_errors(form) }}

{{ form_end(form) }}
	
	<table class="form list"><tbody>	
	
		<tr><th>{%trans%} headers.common.name {%endtrans%}</th> 
		    <th>{%trans%} headers.common.place {%endtrans%}</th> 
		    <th>{%trans%} headers.common.dates {%endtrans%}</th> 
		    <th>{%trans%} headers.common.status {%endtrans%}</th> </tr>

	{% if Projects|length == 0 %} </td> </tr>
			
		<tr> <td colspan="4"> {%trans%} labels.projects.no_project {%endtrans%}
			
	{% else %}
				
		{% for Project in Projects %} 
				
		<tr><td> <a href={{ path('oppen_project', {'project_id': Project.id, 'tab_id' : 1, 'year_id' : Project.Year.id }) }}> {{ Project.name }} </a> </td>
			<td> {{ Project.place }} </td>
			<td> {{ Project.fromDate|date("d/m/Y") }} - {{ Project.toDate|date("d/m/Y") }} </td>
			<td> {{ status_list[Project.status] }} </td>
		</tr>
					
		{% endfor %}

	{% endif %}

	</tbody> </table> 
	
{% endblock %}
