{{ form_row(form.accNo) }}
{{ form_row(form.name) }} 
{{ form_row(form.NIP) }}

<tr><td><h2> Adres </h2></td> </tr>
{{ form_row(form.street) }} 
{{ form_row(form.house) }} 
{{ form_row(form.flat) }} 
{{ form_row(form.code) }} 
{{ form_row(form.city) }}
{{ form_row(form.district) }} 
{{ form_row(form.country) }}

<tr><td><h2> Konto bankowe</h2></td> </tr>
{{ form_row(form.bankAccount) }} 
{{ form_row(form.bankName) }} 		

<tr><td><h2> Telefon i E-mail </h2></td> </tr>		
{{ form_row(form.phone) }} 
{{ form_row(form.email) }}         
