{% extends "AppBundle::layout.html.twig" %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	
	{% include 'AppBundle:Report:header.html.twig' %}
	
	<div class='title'> Kartoteki {{Year.name}} | {{subtitle}} 
		<a class="no-print" href={{ path('oppen_file',{'file_cat_id' : FileCat.id, 'file_id' : 0}) }}> ( + ) </a> 
	</div> 
	
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>			
</div>	

{% form_theme form 'AppBundle:Form:fields_inline.html.twig' %}

<div class='filter' data-url='{{ path("oppen_files_update_filter", {"year_id" : "__year_id__"}) }}'>		
	<div class="search">{{ form_widget(form.search) }}</div>
	<div class="fields">
	{% if return != 'project' %}
		{{ form_row(form.Year) }}
	{% endif %} 
		{{ form_row(form.FileCat) }} 
		{{ form_row(form.name) }} 		
	</div>
</div>

{% if form.Files|length == 0 %}

	Brak pozycji

{% else %}
	
<table class="form list"><tbody>
	<tr> <th></th> <th class="col_no"> Numer </th> <th> Nazwa </th> <th> Dane </th> </tr>
			
	{% for FileF in form.Files %}
	{% set File = FileF.vars.value %}
	
	<tr><td>
		{% if FileList.as_file_select %} 
			{{ form_widget(FileF.select, {'attr': {'class': 'item'}}) }}
		{% endif %}
		</td>		
		<td> {{ File.__AccNo() }} </td>
		<td> <a href={{ path('oppen_file', {'file_cat_id' : FileCat.id, 'file_id' : File.id}) }}> {{ File.name }} </a> </td>
		<td>
			{% if FileCat.symbol == 'ZB' %} 

				{% if File.country is empty %}  <span class="red">Brak Kraju</span>
				{% endif %} 

				{% if File.bankAccount is not empty %} {{File.bankAccount}} 
				{% else %} <span class="red">Brak konta</span>
				{% endif %} |
								
				{% if File.Address1|length > 6 %}  {{ File.Address1 }}, {{ File.Address2 }} {{ File.country }} 
				{% elseif File.country == "PL"%} <span class="red">Brak Adresu</span>
				{% endif %} | 
				
				{% if File.PESEL is not empty %}  PESEL {{ File.PESEL }} 
				{% elseif File.country == "PL" %} <span class="red">Brak PESELu</span>
				{% endif %} |				
				
				{% if File.SubFile.name is defined %}  {{ File.SubFile.name }} 
				{% elseif File.country == "PL" %} <span class="red">Brak US</span>
				{% endif %} |
				
				{% if File.email is not empty %}  {{ File.email }} 
				{% elseif File.country == "PL" %} <span class="red">Brak email-a</span>
				{% endif %} |
				
				{% if File.phone is not empty %}  {{ File.phone }} 
				{% elseif File.country == "PL" %} <span class="red">Brak telefonu</span>
				{% endif %} |				
				
				{% if File.profession is not empty %}  {{ File.profession }} 
				{% else %} <span class="red">Brak zawodu</span>
				{% endif %} 				
			{% endif %} 
		</td>
	</tr>
	{% endfor %}
		
</tbody></table>

	{% if return == 'project' %}
		{{ form_widget(form.selectFiles) }}
	{% endif %}

{% endif %}
			
{{ form_errors(form) }}
	
<div class="h">{{ form_rest(form) }}</div>

{{ form_end(form) }}
{% endblock %}

{% block jquery %}
{% include 'AppBundle:File:list.js.twig' %}
{% endblock %}


