
<tr><td><h2> Dane personalne </h2></td> </tr> 
{{ form_row(form.name) }} 
{{ form_row(form.firstName) }} 
{{ form_row(form.secondName) }} 
{{ form_row(form.lastName) }} 
{{ form_row(form.birth_date,{'attr':{'class':'date'}}) }} 
{{ form_row(form.birth_place) }} 
{{ form_row(form.PESEL) }} 

{{ form_row(form.IDType) }} 
{{ form_row(form.IDNo) }} 
{{ form_row(form.IDCountry) }} 

{{ form_row(form.profession) }} 

<tr><td><h2> Adres </h2></td> </tr>
{{ form_row(form.street) }} 
{{ form_row(form.house) }} 
{{ form_row(form.flat) }} 
{{ form_row(form.code) }} 
{{ form_row(form.city) }} 
{{ form_row(form.district2) }} 
{{ form_row(form.district) }} 
{{ form_row(form.province) }} 
{{ form_row(form.country) }} 
{{ form_row(form.postOffice) }} 

<tr><td><h2> Konto bankowe i US </h2></td> </tr>
{{ form_row(form.bankTaxAccount) }} 
{{ form_row(form.bankAccount) }} 
{{ form_row(form.bankIBAN) }} 
{{ form_row(form.bankSWIFT) }} 
{{ form_row(form.bankName) }} 		
{{ form_row(form.SubFile) }} 

<tr><td><h2> Telefon i E-mail </h2></td> </tr>		
{{ form_row(form.phone) }} 
{{ form_row(form.email) }} 		


