
		<tr><td>{{ form_label(form.accNo) }} </td>    <td> {{ form.accNo.vars.value }} </td></tr>
		<tr><td>{{ form_label(form.name) }} </td><td> {{ form_widget(form.name) }} </td> </tr>
		
		<tr><td><h2> Adres </h2></td> </tr>
		<tr><td>{{ form_label(form.street) }} </td>    <td> {{ form_widget(form.street) }} </td> </tr>
		<tr><td>{{ form_label(form.house) }} </td>     <td> {{ form_widget(form.house) }} </td> </tr>
		<tr><td>{{ form_label(form.flat) }} </td>      <td> {{ form_widget(form.flat) }} </td> </tr>
		<tr><td>{{ form_label(form.code) }} </td>      <td> {{ form_widget(form.code) }} </td> </tr>
		<tr><td>{{ form_label(form.city) }} </td>      <td> {{ form_widget(form.city) }} </td> </tr>
		<tr><td>{{ form_label(form.district) }} </td>  <td> {{ form_widget(form.district) }} </td> </tr>
		<tr><td>{{ form_label(form.country) }} </td>   <td> {{ form_widget(form.country) }} </td> </tr>
		
		<tr><td><h2> Telefon i E-mail </h2></td> </tr>		
		<tr><td>{{ form_label(form.phone) }} </td>     <td> {{ form_widget(form.phone) }} </td> </tr>
		<tr><td>{{ form_label(form.email) }} </td>     <td> {{ form_widget(form.email) }} </td> </tr>
