{% block content %}

<h1 class='title'> Dekretacje ({%if Year %}{{ Year.name}} {%endif%}) </h1>

<table><tbody>
<tr>
	<th>DocNo</th>
	<th>Side</th>
	<th>Value</th>
	<th>AccNo</th>
	<th>Account</th>
	<th>FileLev1</th>
	<th>FileLev2</th>
	<th>FileLev3</th>
</tr>

{% for BookkEntry in BookkEntries %}
<tr>
	<td> {{BookkEntry.Bookk.Doc.DocNo}} </td> 
	<td> {{BookkEntry.Side}} </td> 
	<td> {{BookkEntry.Value}} </td>
	<td> {{BookkEntry.AccNo}} </td>
	<td> {{BookkEntry.Account.AccNo}} </td>
	<td> {%if BookkEntry.FileLev1 %}{{BookkEntry.FileLev1.AccNo}} {%endif%}</td>
	<td> {%if BookkEntry.FileLev2 %}{{BookkEntry.FileLev2.AccNo}} {%endif%}</td>
	<td> {%if BookkEntry.FileLev3 %}{{BookkEntry.FileLev3.AccNo}} {%endif%}</td>
</tr>
{% endfor %}	
</tbody></table>

{% endblock %}

