{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% block content %}
{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'> Rachunek Zysków i Strat {{Report.Year.name}}</div> 	
	
	<div class='toolbar'>
	{% for button in buttons %}
		<span>{{ form_widget(form[button]) }}</span>	
	{% endfor %}			
	</div>		
</div>	

{% if Report.Items|length == 0 %}
	Brak pozycji
{% else %}

<table class="form list"><tbody>
	<tr> 
		<th  class="col_no">Lp</th><th>Pozycja</th> <th> Kwota za poprzedni rok</th> <th> Kwota za rok obrotowy</th></tr>
	{% for Item in Report.Items %}
	{% set level = Item.data.level %}
	<tr>
		<td class="item_level_{{ Item.data.level }}"> {% for i in 0..level %} &nbsp; {% endfor %} 
			{{ Item.data.no }} </td>
		<td class="item_level_{{ Item.data.level }}"> {{ Item.data.name }} </td>
		<td class="item_level_{{ Item.data.level }}"> {{ Item.data.prev_year|number_format(2, ',', '.') }} </td>
		<td class="item_level_{{ Item.data.level }}"> {{ Item.data.curr_year|number_format(2, ',', '.') }} </td>
	</tr>
	{% endfor %}

	<tr><td colspan="3"> 
		<div class="s"></div>
		
		<div class="form-row">
		  Zatwierdzający: {{ Params.default_approver_first_name }} {{ Params.default_approver_last_name }}
		</div>
		
		</td>
	</tr>	
</tbody></table>	

{% endif %}

{{ form_errors(form) }}
<div class="h">{{ form_rest(form) }}</div>
{{ form_end(form) }}

{% endblock %}
