{% extends "AppBundle::layout.html.twig" %}

{% block content %}

{{ form_start(form, {'method': 'post'}) }}	

<h1 class='title'> Dekretacja </h1>
	
	<div class='toolbar'>
		{% for button in buttons %}
			<span>{{ form_widget(form[button]) }}</span>	
		{% endfor %}								
	</div>
	
	{{ form_errors(form) }}
		
		<table class="list"><tbody>	
			<tr><td>{{ form_label(form.desc) }} </td>       <td> {{ form_widget(form.desc) }} </td> </tr>
			<tr><td>{{ form_label(form.bookingDate) }} </td><td> {{ form_widget(form.bookingDate) }} </td> </tr>
			<tr><td>{{ form_label(form.isAccepted) }} </td> <td> {{ form_widget(form.isAccepted) }} </td> </tr>
			<tr><td>{{ form_label(form.Month) }} </td>      <td> {{ form_widget(form.Month) }} </td> </tr>
			<tr><td>{{ form_label(form.DocCat) }} </td>     <td> {{ form_widget(form.DocCat) }} </td> </tr>
			<tr><td>{{ form_label(form.Doc) }} </td>        <td> {{ form_widget(form.Doc) }} </td> </tr>
		</tbody></table>
		
	{% if form.id.vars.value is empty %} 
		Zapisz Dekretację, aby dodać wpisy.
	{% else %}		
		<table class="list"><tbody>		

			<tr><td class="col_acc b"> WN <a class="bookk_entry" data-id="0" href="#">( + )</a> </td><td class="col_val"> </td> 
				<td class="col_acc b"> MA <a class="bookk_entry" data-id="0" href="#">( + )</a> </td><td class="col_val"> </td> </tr>
				
			<tr><td class="col_acc b"> Konto </td><td class="col_val b"> Kwota </td> 
				<td class="col_acc b"> Konto </td><td class="col_val b"> Kwota </td> </tr>
				
			<tr><td colspan="2" class="debits">
					{% for BookkEntry in form.BookkEntries %}
						{% if BookkEntry.isDebit.vars.checked %}
						<div>
							<div class="col_acc">
								<a class="bookk_entry" data-id="{{ BookkEntry.id.vars.value }}" href="#"> 
									{{ BookkEntry.accNo.vars.value }} 
								</a> </div>
							<div class="col_val"> {{ BookkEntry.value.vars.value }} </div>
						</div>	
						{% endif %}
					{% endfor %}
						
				</td><td colspan="2" class="credits" >
					{% for BookkEntry in form.BookkEntries %}
						{% if BookkEntry.isCredit.vars.checked %}
						<div>
							<div class="col_acc">
								<a class="bookk_entry" data-id="{{ BookkEntry.Id.vars.value }}" href="#"> 
									{{ BookkEntry.accNo.vars.value }} 
								</a> </div>
							<div class="col_val"> {{ BookkEntry.value.vars.value }} </div>
						</div>
						{% endif %}
					{% endfor %}
					
				</td>
			</tr>				
		</tbody></table>
	{% endif %}
	
<div id="item" data-item="
	<div>
		<div class='col_acc'>
			<a class='bookk_entry' data='__id__' href='#'> __accNo__ </a> </div>
		<div class='col_val'> __value__ </div>						
	</div>">
</div>

<div id="hidden" style="display: none;">{{ form_rest(form) }}</div>

<div id="dialog" 
     data-url="{{ path('oppen_bookk_entry', {'bookk_entry_id' : '__bookk_entry_id__', 'bookk_id' : bookk_id}) }}"> </div>
{{ form_end(form) }}

{% endblock %}

{% block jquery %}

var Dialog = $('#dialog');
var Item = $('#item')
var Debits = $('td.debits');
var Credits = $('td.credits');	

Dialog.dialog({
  autoOpen: false,
  height: 500,
  width: 600,
  modal: true,
  buttons: {
	"Dodaj": function() {
		Dialog.html('').dialog( "close" );          
	},
	"Anuluj": function() {
	    Dialog.html('').dialog( "close" );
	}
  }	
}); 

function showForm(bookk_entry_id) {
	var URL = Dialog.data('url').replace(/__bookk_entry_id__/g, bookk_entry_id);
	Dialog.dialog("open").html(URL);
	$.ajax({
		type: "GET",
		url:  URL,
		success: function(msg){
			Dialog.html(msg).dialog("open");
			
			var URL = "{{ path('oppen_account_files', {'account_id' : '__account_id__'}) }}";			
			
			$('#bookk_entry_Account').change(function(){
				$('#bookk_entry_FileLev1 option:gt(0)').remove();
				$('#bookk_entry_FileLev2 option:gt(0)').remove();
				$('#bookk_entry_FileLev3 option:gt(0)').remove();

				if($(this).val()){
				
					 $.ajax({
						type: "POST",
						data: "account_id=" + $(this).val(),
						url: URL.replace(/__account_id__/g, $(this).val()),
						success: function(data){
						alert(data.join());
							$('#bookk_entry_FileLev1').append(data[0].join());
							$('#bookk_entry_FileLev2').append(data[1].join());
							$('#bookk_entry_FileLev3').append(data[2].join());
						}
					});
				}
			});			
		}
    });		
}
	
$('a.bookk_entry').on('click', function(e) {
	e.preventDefault();
	var Id = $(this).data('id');
	showForm(Id);
});

{% endblock %}
