{% form_theme form 'OppenProjectBundle:Form:fields_inline.html.twig' %}

<div class='filter' >		
	<div class="search">{{ form_widget(form.search) }}</div>
	<div class="fields">{{ form_row(form.Year) }}	  </div>
</div>

<h1>{%trans%}labels.categories.categories_files{%endtrans%} 
<a href={{ path('oppen_file_cat_edit', {'file_cat_id' : 0, 'year_id' : Year.id}) }}>(+) </a>
</h1>

<table class="form list"><tbody>
		<tr><th>{%trans%}headers.common.symbol{%endtrans%} </th>  
			<th>{%trans%}headers.common.name{%endtrans%} </th> 
			<th>{%trans%}headers.common.income{%endtrans%} </th> 
			<th>{%trans%}headers.common.cost{%endtrans%} </th> 
			<th>{%trans%}headers.categories.contractor{%endtrans%} </th> </tr>
		{% for FileCatF in form.FileCats %}
			{% set FileCat = FileCatF.vars.value %}
			<tr>
				<td> {{ FileCat.symbol }} {% if FileCat.IsLocked%} * {%endif%} </td>
				<td> <a href={{ path('oppen_file_cat_edit',  {'year_id' : Year.id, 'file_cat_id': FileCat.id}) }}>{{ FileCat.name }} </a></td> 		
				<td class='center'>{% if FileCatF.as_income.vars.checked %} X {% endif %} </td>
				<td class='center'>{% if FileCatF.as_cost.vars.checked %} X {% endif %} </td>
				<td class='center'>{% if FileCatF.as_contractor.vars.checked %} X {% endif %} </td>				
			</tr>
		{% endfor %}
</tbody></table>	

<h1>{%trans%}labels.categories.categories_documents{%endtrans%} 
<a href={{ path('oppen_doc_cat_edit', {'doc_cat_id' : 0, 'year_id' : Year.id}) }}>(+) </a>
</h1>

<table class="form list"><tbody>
		<tr><th>{%trans%}headers.common.symbol{%endtrans%} </th>  
			<th>{%trans%}headers.common.name{%endtrans%} </th> 
			<th>{%trans%}headers.common.income{%endtrans%} </th> 
			<th>{%trans%}headers.common.cost{%endtrans%} </th> 
			<th>{%trans%}headers.common.account{%endtrans%} </th>  </tr>
		{% for DocCatF in form.DocCats %}
			{% set DocCat = DocCatF.vars.value %}
			<tr>
				<td> {{ DocCat.symbol }} {% if DocCat.IsLocked%} * {%endif%}</td>
				<td> <a href={{ path('oppen_doc_cat_edit',  {'year_id' : Year.id, 'doc_cat_id': DocCat.id}) }}>{{ DocCat.name }} </a></td>
				<td class='center'>{% if DocCatF.as_income.vars.checked %} X {% endif %} </td>
				<td class='center'>{% if DocCatF.as_cost.vars.checked %} X {% endif %} </td>
				<td class='center'>{% if DocCatF.as_bill.vars.checked %} X {% endif %} </td>	
			</tr>
		{% endfor %}
</tbody></table>
*) {%trans%}labels.categories.categories_predefined{%endtrans%}  


