{% form_theme form 'OppenProjectBundle:Form:fields_inline.html.twig' %}

<div class='filter' >		
	<div class="search">{{ form_widget(form.search) }}</div>
	<div class="fields">{{ form_row(form.show_archived) }}	  </div>
</div>

<table class="form list">
<tbody>

	<tr><th>{%trans%}headers.common.contracts{%endtrans%} </th> <th></th></tr>	
	{% for Template in form.Templates if Template.as_contract.vars.checked %}
	<tr><td> <a href={{ path('oppen_template_edit', { 'template_id' : Template.id.vars.value, 'year_id' : Year.id }) }}> 
				{{ Template.name.vars.value }} </a>   </td> 
		<td>{{ Template.symbol.vars.value }}</td>
	</tr>
	{% endfor %}
	
	<tr><th>{%trans%}headers.common.reports{%endtrans%} </th><th></th> </tr>	
	{% for Template in form.Templates if Template.as_report.vars.checked %}
	<tr><td> <a href={{ path('oppen_template_edit', { 'template_id' : Template.id.vars.value, 'year_id' : Year.id }) }}> 
				{{ Template.name.vars.value }} </a>   </td> 
		<td>{{ Template.symbol.vars.value }}</td>
	</tr>
	{% endfor %}	
		
	<tr><th>{%trans%}headers.common.books{%endtrans%} </th><th></th> </tr>	
	{% for Template in form.Templates if Template.as_booking.vars.checked %}
	<tr><td> <a href={{ path('oppen_template_edit', { 'template_id' : Template.id.vars.value, 'year_id' : Year.id }) }}> 
				{{ Template.name.vars.value }} </a>    </td> 
		<td>{{ Template.symbol.vars.value }}</td>
	</tr>
	{% endfor %}		

	<tr><th>{%trans%}headers.common.transfers{%endtrans%} </th><th></th> </tr>	
	{% for Template in form.Templates if Template.as_transfer.vars.checked %}
	<tr><td> <a href={{ path('oppen_template_edit', { 'template_id' : Template.id.vars.value, 'year_id' : Year.id }) }}> 
				{{ Template.name.vars.value }} </a>   </td> 
		<td>{{ Template.symbol.vars.value }}</td>
	</tr>
	{% endfor %}

	<tr><th>{%trans%}headers.common.other{%endtrans%} </th><th></th> </tr>	
	{% for Template in form.Templates if 
		not Template.as_report.vars.checked and 
		not Template.as_contract.vars.checked and
		not Template.as_booking.vars.checked and 
		not Template.as_transfer.vars.checked %}
	<tr><td> <a href={{ path('oppen_template_edit', { 'template_id' : Template.id.vars.value, 'year_id' : Year.id }) }}> 
				{{ Template.name.vars.value }} </a>   </td> 
		<td>{{ Template.symbol.vars.value }}</td>
	</tr>
	{% endfor %}
		
</tbody>
</table>	




