{{ form_start(form, {
	'method': 'post', 
	'action': path('oppen_bookk', { 'bookk_id' : bookk_id, 'doc_id' : Doc.id, 'return' : return, 'id1' : id1, 'id2' : id2}),
	'attr' : {
		'id'    : 'dialog-ajax-form',
		'data-title' : 'Dekretacja dokumentu '~Doc.docNo,
	}
} ) }}

<div class="content-header">
	<div class='title'> Dekretacja </div> 

	<div class='toolbar'>
	{% for button in buttons %}
		<span>
		{{ form_widget(form[button], {'attr':{
			'class'    : 'ajax_submit_button',		
		}} ) }}
		</span>	
	{% endfor %}			
	</div>		
</div>

	{{ form_row(form.is_accepted) }} 
	{{ form_row(form.bookking_date,{'attr':{'class':'date'}}) }}
	{{ form_row(form.desc,{'attr':{'class':'text'}} ) }} 
	{{ form_row(form.Project) }}
			
	{{ form_errors(form) }}	

<div class="h">
	{{ form_rest(form) }}
</div>

{{ form_end(form) }}	
