{% set bookk_id = Bookk.id is not empty ?  Bookk.id : 0 %}
{% set project_id = Bookk.Project is not empty ?  Bookk.Project.id : 0 %}

{% if return == 'docs' or (return == 'project' and project_id == id1) %}


<div id='Bookk{{Bookk.id}}' class='bookk even_odd' 	data-list='.bookks_list' >
	<div class='i black' title="{{ Bookk.desc }}">
		<a class='ajax_init_form' method="POST" href="{{ path('oppen_bookk', { 'bookk_id' : bookk_id, 'doc_id' : Bookk.Doc.id, 'return' : return, 'id1' : id1, 'id2' : id2}) }}" >
			{{ Bookk.isAccepted ? '[X]' : '[ ]' }} | {{ Bookk.bookkingDate|date("d/m/Y") }} - {{ Bookk.desc|slice(0, 50) }} {{ Bookk.desc|length > 50 ? '...':'' }}
			({{ Bookk.Project is not empty ? Bookk.Project.name : ''}}) 													
		</a>
	</div>
	
	<div class="i">
					
		<a class="ajax_init_form" href="{{ path('oppen_bookk_entry', { 'bookk_entry_id' : 0, 'bookk_id' : bookk_id,  'side' : 1, 'return' : return, 'id1' : id1, 'id2' : id2}) }}">
			(Wn+)</a>
			
		<a class="ajax_init_form" href="{{ path('oppen_bookk_entry', { 'bookk_entry_id' : 0, 'bookk_id' : bookk_id,  'side' : 2, 'return' : return, 'id1' : id1, 'id2' : id2}) }}">
			(Ma+)</a>
			
	</div>	
		
	<div class='bookk_sides'>	
		{% for side in 1..2 %}
		<div id='Bookk{{Bookk.id}}_side{{side}}' class='i bookk_side' >
			
			{% for BookkEntry in Bookk.BookkEntries if BookkEntry.side == side %}
			
				{{ include('AppBundle:BookkEntry:view.html.twig') }}

			{% endfor %}
		
		</div>	
		{% endfor %}
	</div>
	
</div>

{% endif %}
